[submodule "module_login"]
	path = module_login
	url = https://github.com/CHANZHILIN/module_login.git
[submodule "module_mine"]
	path = module_mine
	url = https://github.com/CHANZHILIN/module_mine.git
[submodule "lib_base"]
	path = lib_base
	url = https://github.com/CHANZHILIN/lib_base.git
[submodule "module_picture"]
	path = module_picture
	url = https://github.com/CHANZHILIN/module_picture.git
